body {
	font-family: Verdana, Tahoma, sans-serif;
	color: #e4e4e4;
	background-color: #800000;
	background-position: right top;
	background-image: url("back.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	color: #9197FF;
	font-size: 3.0em;
	text-shadow: 2px 2px black;
}

h2 {
	color: #9197FF;
}

dt {
	font-weight: bold;
}

p:first-letter {
	font-weight: bold;
	font-size: 150%
}

a:link {
	color: #FF8484;
	text-decoration: none;
}

a:hover {
	color: #D678FF;
	text-decoration: underline;
}

strong {
	color: #3BE691;
}

blockquote {
	font-size: 80%;
}

ul, ol {
	text-align: left;
}

ol {
	list-style: upper-roman;
}

table, th, td{
	border: dashed;
	border-collapse: collapse;
}

tr:nth-child(2) {
	background-color: blue;
}

img {
	outline-width: 5px;
	outline-color: #797979;
	outline-style: dotted;
}

a img {
	outline: none;
}