@font-face {	/*embeded font*/
	fontfamily: myPrime;
	src: url(font/PrimeLight.otf);
}

p {
	font-family: myPrime;
}

p::nth-child(odd) {
	color: red;
}

li:nth-child(odd) {
	color: red;
}

/*b : starting position, a : spacing cycle 이건 약간 inconsistency가 있다..?*/
li:nth-child(an+b) {
	color: red;
}

em {
	font-style: normal;
}

/*not에 대해 알아보기 Psedo Class 알아보기*/
li:not{
	color: blue;
}


/*HTML과 CSS를 같이 쓰면 안되는 이유. 1. Blurring Seperation, 2. 	Not Cascading
css보다 먼저 embed하면 css말고 embed한 녀석의 특성을 따른다. Inline Style 선언이 최우선시 된다. (마지막으로 선언됐고) 하지만 하지말아랑
<a> tag같은건 상속에서 예외임. css에서 무조건 나중에 Define된게 우선순위를 가짐*/